<!DOCTYPE html>
<html>
<head>
    <title>{{ shelter.name }}</title>
</head>
<body>
    <h1>{{ shelter.name }}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'pet_list' %}">Home</a></li>
            <!-- Check if the user is authenticated -->
            {% if user.is_authenticated %}
                <li><a href="{% url 'shelter_list' %}">List of Shelters</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'shelter_list' %}">List of Shelters</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <p><strong>Address:</strong> {{ shelter.address }}</p>
    <p><strong>City:</strong> {{ shelter.city }}</p>
    <p><strong>State:</strong> {{ shelter.state }}</p>
    
    <h2>Pets in this Shelter</h2>
    <ul>
        {% for pet in shelter.pet_set.all %}
            <li><a href="{{pet.get_absolute_url}}">{{ pet.name }}</a> - {{ pet.pet_type }}</li>
        {% empty %}
            <li>No pets available in this shelter.</li>
        {% endfor %}
    </ul> 
</body>
</html>
